nav {
    background-color: #bcd2eb; /* Blue background color */
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #fff; /* White text color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #bfe1ff; /* Light blue text color on hover */
  }
  
  h1 {
    color: #0a3961; /* Light baby blue text color */
    text-align: center;
  }
  